<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: aqua;">
    <h1>This is django</h1>
    <h2>
        This is h2
    </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime vel magni quidem modi culpa sint. Iusto possimus
        illum, ut, rem repudiandae vero, cum cumque commodi autem eveniet cupiditate quia maxime!</p>

    <hr>


    {% for x in mem %}
    {%for i in x %}
    <h3>{{x}}:{{i}}</h3>
    {% endfor %}
    {% endfor %}

    <p>Back to <a href="/">Members</a></p>


    <iframe style="width:100%;max-width:360px;height:360px;"
        src="https://stopwatch-app.com/widget/stopwatch?theme=dark&color=red" frameborder="0"></iframe>
</body>

</html>